---
import { resolve } from '../i18n/resolve';
import rightsGroups from '../data/links/rights-groups.yaml';
import references from '../data/links/references.yaml';
import overview from '../data/links/overview.yaml';
import editorials from '../data/links/editorials.yaml';
import press from '../data/links/press.yaml';
import videos from '../data/links/videos.yaml';
import discussions from '../data/links/discussions.yaml';
import officialDocs from '../data/links/official-docs.yaml';
import miscellaneous from '../data/links/miscellaneous.yaml';

interface Props {
  locale: string;
}

const { locale } = Astro.props;
const byLabel = resolve({ en: 'by', ru: 'от' }, locale);
---

<details id="rightsGroups">
  <summary><h4>{resolve(rightsGroups.heading, locale)}</h4></summary>
  <ul>
    {rightsGroups.items.map((item: any) => (
      <li><a href={resolve(item.url, locale)} target="_blank">{resolve(item.text, locale)}</a></li>
    ))}
  </ul>
</details>

<h2 id="references">{resolve(references.heading, locale)}</h2>

<h3>{resolve(overview.heading, locale)}</h3>
<ul>
  {overview.items.map((item: any) => (
    <li><a href={item.url} target="_blank">{item.url}</a></li>
  ))}
</ul>

<h3 id="editorials">{resolve(editorials.heading, locale)}</h3>
<ul>
  {editorials.items.map((item: any) => (
    <li>
      &ldquo;{resolve(item.text, locale)}&rdquo; &mdash; <a href={item.url} target="_blank">{item.url}</a>
      {item.extra_links?.map((extra: any) => (
        <>{' '}(<a href={extra.url} target="_blank">{resolve(extra.text, locale)}</a>)</>
      ))}
    </li>
  ))}
</ul>

<h3 id="press">{resolve(press.heading, locale)}</h3>
<ul>
  {press.items.map((item: any) => (
    <li>&ldquo;{resolve(item.text, locale)}&rdquo; &mdash; <a href={item.url} target="_blank">{item.url}</a></li>
  ))}
</ul>

<h3 id="videos">{resolve(videos.heading, locale)}</h3>
<ul>
  {videos.items.map((item: any) => (
    <li>
      &ldquo;{resolve(item.text, locale)}&rdquo;
      {item.author && <> &mdash; {item.author}</>}
      {' '}&mdash; <a href={`https://www.youtube.com/watch?v=${item.ytid}`} target="_blank">YouTube</a>
      {' '}| <a href={`https://redirect.invidious.io/watch?v=${item.ytid}`} target="_blank">Invidious</a>
    </li>
  ))}
</ul>

<h3 id="discussions">{resolve(discussions.heading, locale)}</h3>
<ul>
  {discussions.items.map((item: any) => (
    <li><a href={item.url} target="_blank">{item.url}</a></li>
  ))}
</ul>

<h3 id="docs">{resolve(officialDocs.heading, locale)}</h3>
<ul>
  {officialDocs.items.map((item: any) => (
    <li>{resolve(item.text, locale)} &mdash; <a href={item.url} target="_blank">{item.url}</a></li>
  ))}
</ul>

<h3 id="misc">{resolve(miscellaneous.heading, locale)}</h3>
<ul>
  {miscellaneous.items.map((item: any) => {
    const hasAuthor = item.author_text && item.author_url;
    return (
      <li>
        <a href={item.url} target="_blank">{resolve(item.text, locale)}</a>
        {hasAuthor && (
          <>
            {' '}{byLabel}{' '}
            {item.author}{' '}
            <a href={item.author_url} target="_blank">
              {item.author_text}    </a>
  </>
)}
      </li>
    );
  })}
</ul>
